<div class="jumbotron">
  <h1 class="display-4">Делитесь своими эмоциями!</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации своих друзей.</p>
  <hr class="my-4">
  <p>Войдите или зарегистрируйтесь.</p>
  <a class="btn btn-success btn-lg" href="#" role="button">Вход</a>
  <a class="btn btn-success btn-lg" href="#" role="button">Регистрация</a>
</div>
