<% unless user_signed_in?%>
<div class=" container jumbotron">
  <h1 class="display-4 google-font-2"><b>Делитесь своими эмоциями!</b></h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикации своих друзей.</p>
  <hr class="my-4">
  <p>Войдите или зарегистрируйтесь.</p>
  <%= link_to "Вход", new_user_session_path, class: "btn btn-success" %>
  <%= link_to "Регистрация", new_user_registration_path, class: "btn btn-success" %>
</div>
<%end%>
