<div class="card mb-3" style="max-width: 18rem;">
  <div class="card-header">Edit photo</div>
  <div class="card-body">

    <%= render 'form', photo: @photo %>

    <%= link_to 'Show', @photo %> |
    <%= link_to 'Back', photos_path %>

</div>
